@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
    background-color: #f1f1f1;
    color: #0f141e;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: rgb(59, 59, 59);
}

a:visited {
    color: rgb(27, 27, 27);
}

.avatar {
    height: 200px;
    max-width: 50%;
    border-radius: 28px;
    box-shadow: 4px 4px 14px #00000040;
}

.info {
    display: flex;
    margin-bottom: 20px;
}

@media (max-width: 700px) {
    .info {
        text-align: center;
        display: block;
    }

    .info-text {
        margin-left: 0;
    }
}

.info-text {
    margin-left: 40px;
}

.info-text h2 {
    padding-bottom: 0;
}

.info p {
    font-weight: 300;
    color: #2d2d2d;
    letter-spacing: 1px;
    margin: 0;
}

.container {
    padding-top: 30px;
    max-width: 750px;
    margin: auto;
}

.bg-yellow {
    background-color: #fff9dc;
}

.bg-green {
    background-color: #e5ffe7;
}

.bg-red {
    background-color: #ffe5e5;
}

.card {
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.card h2 {
    margin-bottom: 10px;
}

.list {
    padding: 0 20px;
}

.list li {
    color: #86898f;
    margin-bottom: 10px;
}

.table {
    width: 100%;
}

.table td {
    padding-bottom: 15px;
}

.table td:nth-child(2),
.table td:nth-child(3) {
    color: #86898f;
}

.contact h2 {
    text-align: center;
}

.form-contact {
    display: flex;
    margin-bottom: 20px;
}

.form-contact .form-group {
    width: 50%;
}

.form-contact .form-group:first-child {
    margin-right: 20px;
}

.form-group input,
.form-group textarea {
    margin-right: 20px;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 12px;
    border: none;
    background: transparent;
    outline: none;
    border-bottom: 1px solid #86898f;
    font-family: inherit;
}

.form-group label {
    padding: 0 12px;
    display: block;
}

.btn {
    background: #111;
    padding: 15px 20px;
    color: #fff;
    border: none;
    font-family: inherit;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.8;
}